@font-face {
    font-family: 'Gotham';
    src: url('fonts/GothamBold.ttf') format('ttf');
    src: url('fonts/GothamBoldItalic.ttf') format('ttf');
    src: url("fonts/GothamBook.ttf") format('ttf');
    src: url("fonts/GothamBookItalic.ttf") format('ttf');
    src: url("fonts/GothamLight.ttf") format('ttf');
    src: url("fonts/GothamLightItalic.ttf") format('ttf');
    src: url("fonts/GothamMedium.ttf") format('ttf');
    src: url("fonts/GothamMedium_1.ttf") format('ttf');
    src: url("fonts/GothamMediumItalic.ttf") format('ttf');
    
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Bold.woff2') format('woff2'),
         url('fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gilam";
    outline: none;
    border: none;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(212, 223, 245, 1);
    /* filter: blur(8px); */
}

.header {
    margin: 20px;
}
.container {
    padding: 10px;
    width: 450px;
    border-radius: 20px;
    /* height: min-content; */
    background-color: rgba(255, 255, 255, 0.1);
    /* display: flex; */
    /* justify-content: right; */
    /* align-items: center;  */
    /* border: red solid 1px; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3.5px);
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
}

.search-box {
    /* border: green 1px solid; */
    /* padding: 10px; */
    border-radius: 15px;
    width: 100%;
    display: flex;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    /* align-items: center; */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.search-box input {
    text-indent: 15px;
    font-size: 18px;
    width: 84%;
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px;
}
.search-box input::placeholder {
    /* color: rgba(255, 255, 255, 0.534); */
    color: white; 
    font-size: 18px;
}

.search-box button {
    /* width: 16%; */
    width: 45px;
    height: 45px;
    /* margin-right: 10px; */
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

.search-box button:hover {
    background-color: rgba(255, 255, 255, 0.2);   
}
.weather-body {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
    color: white;
    margin: auto;
    margin-bottom: 20px;
}
.weather-image {
    margin-top: 50px;
    width: 80%;
}

.weather-box {
    text-align: center;
    margin: 20px;
}

.weather-box .temperature {
    font-size: 40px;
    font-weight: bolder;
}
.weather-box .temperature sup {
    font-size: 20px;
    position: absolute;
    font-weight: bold;
}
.weather-box .description {
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind {
    display: flex;
    align-items: center;
    font-size: 16px;
}
.text span {
    font-size: 20px;
    font-weight: 700;
}
.wind {
    margin-right: 20px;
}
.humidity {
    margin-left: 20px;
}
.humidity i, .wind i {
    font-size: 20px;
    margin-right: 10px;
}

.locationNotFound {
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.a404 {
    width: 100%;
    margin-top: 10px;
}
.location h1 {
    font-size: 23px;
}

@media screen and (max-width: 900px)
{
    .container {
        width: 350px;
        /* padding-bottom: 20px;
        margin-bottom: 15px; */
    }

    body {
        /* height: 100%; */
        background-size:cover;
        background-position: right;
    }

}